<head>
  <link rel="stylesheet" type="text/css" href="dist/pell.css">
</head>

<body>
  <div class="flex flex-wrap gap-2 max-lg:gap-0 justify-between">

    <!-- Left pane -->
    <div class="max-lg:min-w-[100%] w-[calc(70%-1rem)] gap-2">

      <!-- Container for Pell editor -->
      <div class="border text-base-content bg-base-200">
        <h1 class="bg-neutral text-neutral-content font-bold text-lg p-2">Create A Blog Post</h1>
        <label class="form-control px-2 mb-2 bg-content-neutral">
          <div class="label">
            <span class="label-text">Article Title</span>
          </div>
          <input id="articletitle" type="text" placeholder="Article Title"
            class="input input-lg text-lg input-bordered" />
        </label>

        <div id="editor" class="pell"></div>

        <details class="mt-2">
          <summary class="">Text Preview</summary>
          <pre id="text-output" class="whitespace-pre-wrap bg-base-200 text-base-content"></pre>
        </details>

        <details class="mt-2">
          <summary>HTML output</summary>
          <pre id="html-output" class="whitespace-pre-wrap"></pre>
        </details>
      </div>

      <form class="form pt-2 px-2 w-[100%] gap-2 bg-content-neutral flex flex-row flex-wrap max-h-48">
        <label class="form-control px-2 mb-2 bg-content-neutral">
          <div class="label">
            <span class="label-text">Article Author</span>
          </div>
          <kbd id="articleauthor" class="kbd input input-xs input-bordered max-w-xs">{{user.name}}
            ({{user.alias}})</kbd>
        </label>
        <label class="form-control px-2 mb-2 bg-content-neutral">
          <div class="label">
            <span class="label-text">Parent Article</span>
          </div>
          <input id="articleparent" type="text" placeholder="Parent Article ID"
            class="input input-xs input-bordered max-w-xs" />
        </label>
        <label class="form-control px-2 mb-2 bg-content-neutral">
          <div class="label">
            <span class="label-text">Version</span>
          </div>
          <input id="articleversion" type="number" placeholder="Version Number"
            class="input input-xs input-bordered max-w-xs" />
        </label>
        <label class="form-control px-2 mb-2 bg-content-neutral">
          <div class="label">
            <span class="label-text">Status</span>
          </div>
          <input id="articlestatus" type="text" placeholder="Article Status"
            class="input input-xs input-bordered w-full max-w-xs" />
        </label>

        <!-- Menu options -->
        <ul class="menu menu-horizontal bg-base-200 w-[100%] justify-end mt-2 font-bold text-lg">
          {{!-- <li><a>clear</a></li> --}}
          <li class="border rounded-xl"><a><button type="submit" id="save" onclick="article_save(event)">save</button></a></li>
        </ul>
    </div>

    <!-- Right pane sidebar -->
    <div class="max-lg:min-w-[100%] w-[calc(30%-1rem)] min-h-full">
      <h1 class="bg-gray-300 p-3 text-xl font-bold">My articles</h1>
      <ul class="menu p-4 bg-base-200 text-base-content">
        <!-- Sidebar content here -->
        {{>myarticlelistpartial}}
      </ul>
      <h1 class="bg-gray-300 p-3 text-xl font-bold">All articles</h1>
      <ul class="menu p-4 bg-base-200 min-h-screen text-base-content">
        <!-- Sidebar content here -->
        {{>articlelistpartial}}
      </ul>
    </div>

  </div>

  <script src="dist/pell.js"></script>
  <script src="js/create_article.js"></script>